<h2>{{name}}</h2>
<p><a {{ action "back" target="controller" }}>Back to your jobs</a></p>
{{#manager}}
	<a href="#" {{action "openAddPlanModal"}} class="button button-green">+ Add Plan</a>
{{/manager}}
<table class="table table-hover">
	<thead>
		<th>#</th>
		<th>Plan Name</th>
		<th>Updated</th>
		<th>Filename</th>
		<th class="pull-right">Controls</th>
	</thead>
	<tbody>

	{{outlet}}

	</tbody>
</table>