<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
	<h1>A link to <%= @job_name %> has been shared with you!</h1>
	<p>
	    Visit the link to view <%= @job_name %>: <a href="<%= @signup_link %>"><%= @signup_link %></a>
	</p>
    </body>
</html>
