.section
  .container
    .row
      .col-md-12
        %h2 My Jobs

    .row
      .col-md-6
        - if current_user.can? :create, Job.new(user_id: current_user.id)
          %a.button.button-green.open-modal{ href: "#", data: { "modal-url": new_job_path } } + Add Job
      .col-md-6
        %form.share-search-form
          %input#share-search-input.form-control.form-smaller.form-control-padding.pull-right{ style: "max-width: 250px", placeholder: "Search..." }

    .row
      .col-md-12
        %nav.jobs-controls
          %a{ href: jobs_path, class: active_class(false, @is_archived) } My Jobs
          %a{ href: jobs_path(archived: true), class: active_class(true, @is_archived) } Archived

        .table-responsive
          %table.table.table-hover
            %thead
              %th Job Name
              %th Owner
              %th.text-right Controls

            %tbody
              - @jobs.each do |job|
                %tr
                  %td= link_to job.name, job_path(job)
                  %td= job.user.full_name
                  %td
                    %ul.controls.pull-right.unstyled
                      %li= link_to "Open", job_path(job)
                      - if current_user.can? :share, job
                        %li= link_to "Share", new_job_share_link_path(job)
                      - if current_user.can? :update, job
                        %li
                          %a.open-modal{ href: "#", data: { "modal-url": edit_job_path(job) } } Edit
                      - if current_user.can? :destroy, job
                        %li
                          %a.open-modal{ href: "#", data: { "modal-url": should_delete_job_path(job) } } Delete
