<div class="modal-wrapper">
	<div class="overlay"></div>
	<div class="dialog box box-border">
		<div class="header">
			<p class="title">Edit your plan.</p>
		</div>
		<div class="body">
				<p>Enter a new number and name for this plan.</p>
				{{ view PlanSource.TextField placeholder="#" focus=true id="edit-plan-num" modelAttr="plan_num" class="short" }}
				{{ view PlanSource.TextField placeholder="Plan name" focus=false id="edit-plan-name" modelAttr="plan_name" class="left"}}
		</div>
		<div class="footer">
			<div class="buttons">
				<a class="button button-blue" {{action "editPlan" target=controller}} >Change</a>
				<a class="button" {{action "close"}}>Cancel</a>
			</div>
		</div>
	</div>
</div>