<% content_for :head do %>
	<%= javascript_include_tag "plan_source" %>
<% end %>
<div class="loading">
	<p class="loading-text">Loading... <span class="loading-percent">100</span>%</p>
</div>
<div class="section">
	<div class="container">
		<div id="ember-job-app" class="box box-border"></div>
	</div>
</div>

<form enctype="multipart/form-data" class="hidden invisible" id="plan_source_upload_form">
	<input type="hidden" name="plan_id" id="plan_id">
	<input type="file" name="file" id="file">
	<input type="submit" value="Submit" id="submit">
</form>
<iframe class="downloader hidden"></iframe>

<script type="text/javascript">
	user = "<%= current_user.name %>";
</script>



<script type="text/x-handlebars" id="add_job_view">
	{{#if view.isAdding}}
		<input type="text" id="new-job-name" placeholder="Enter a job name" autofocus>
		<span class="muted">Press enter to add</span>
	{{else}}
		<a href="" class="btn btn-success btn-long" {{action "add" target="view"}}>+ Add Job</a>
	{{/if}}
</script>

<script type="text/x-handlebars" id="add_plan_view">
	{{#if view.isAdding}}
		<input type="text" id="new-plan-name" placeholder="Enter a plan name" autofocus>
		<span class="muted">Press enter to add</span>
	{{else}}
		<a href="" class="btn btn-success btn-long" {{action "add" target="view"}}>+ Add Plan</a>
	{{/if}}
</script>
