<div id="asi-attachments-dnd" class="dropzone"></div>

<script>
  Dropzone.options.asiAttachmentsDnd = {
    paramName: "files", // The name that will be used to transfer the file
    maxFilesize: 20, // MB
    uploadMultiple: true,
    createImageThumbnails: false,
    // Hide the previews.  We'll make our own.
    previewTemplate: '<div style="display:none"></div>',
    dictDefaultMessage: 'Drop files here or click to upload.',
  };

  PlanSource.asiDropzone = new Dropzone("div#asi-attachments-dnd", {
    url: "/api/submittals/upload_attachments"
  });

  $("#asi-attachments").delegate(".remove", "click", function (e) {
    $(e.target.parentNode.parentNode.parentNode).remove();
  });

  PlanSource.asiDropzone.on("sending", function (file, responseData) {
    var $button = $("#submit-asi-button");
    $button.prop("disabled", true);
    $button.text("Uploading...");
  });

  PlanSource.asiDropzone.on("complete", function (file, responseData) {
    var $button = $("#submit-asi-button");
    $button.prop("disabled", false);
    $button.text("Save");
  });

  PlanSource.asiDropzone.on("success", function (file, responseData) {
    var returnFiles = responseData.files;

    // Success is called for every file so might as well double check the
    // filename was returned before adding element to DOM.
    for (var i = 0; i < returnFiles.length; i++) {
      var returnFile = returnFiles[i];
      if (returnFile.original_filename !== file.name) continue;

      $("#asi-attachments").append([
        '<tr class="file-preview" data-upload-id="' + returnFile.id + '">',
          '<td>' + returnFile.original_filename + '</td>',
          '<td><input class="file-preview-description" placeholder="Description"></td>',
          '<td>',
            '<span class="pull-right">',
              '<a class="remove">Remove</a>',
            '</span>',
          '</td>',
        '</tr>',
      ].join(""));
    }
  });
</script>
