<div class="dialog box box-border" style="width: 600px;">
  <div class="header">
    <p class="title">Submit A New RFI</p>
  </div>

  <div class="body">
    <div class="row margin-bottom">
      <div class="col-sm-12">
        <p>Subject:</p>
        <div class="control-group">
          <div class="controls">
            <input class="form-control" id="rfi-subject">
            <span class="help-inline">{{rfiErrors.subject}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row margin-bottom">
      <div class="col-sm-12">
        <p>Notes:</p>
        <div class="control-group">
          <div class="controls">
            <textarea style="width: 100%; max-width: 100%; height: 150px; padding: 10px;" placeholder="Tell us about your RFI, etc" id="rfi-notes"></textarea>
            <span class="help-inline">{{rfiErrors.notes}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row margin-bottom">
      <div class="col-sm-12">
        <p>Attachments:</p>

        <div class="control-group">
          <div id="rfi-attachments-dnd" class="dropzone"></div>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Filename</th>
                <th></th>
              </tr>
            </thead>
            <tbody id="rfi-attachments">
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
  <div class="footer">
    <div class="buttons">
      <a class="button" {{action "close"}}>Cancel</a>
      <a id="submit-rfi-button" class="button button-blue" {{action "save" target=controller}}>Submit RFI</a>
    </div>
  </div>
</div>

<script>
  Dropzone.options.rfiAttachmentsDnd = {
    paramName: "files", // The name that will be used to transfer the file
    maxFilesize: 20, // MB
    uploadMultiple: true,
    createImageThumbnails: false,
    // Hide the previews.  We'll make our own.
    previewTemplate: '<div style="display:none"></div>',
  };

  PlanSource.rfiDropzone = new Dropzone("div#rfi-attachments-dnd", {
    url: "/api/submittals/upload_attachments"
  });

  $("#rfi-attachments").delegate(".remove", "click", function (e) {
    $(e.target.parentNode.parentNode.parentNode).remove();
  });

  PlanSource.rfiDropzone.on("sending", function (file, responseData) {
    var $button = $("#submit-rfi-button");
    $button.prop("disabled", true);
    $button.text("Uploading...");
  });

  PlanSource.rfiDropzone.on("complete", function (file, responseData) {
    var $button = $("#submit-rfi-button");
    $button.prop("disabled", false);
    $button.text("Submit RFI");
  });

  PlanSource.rfiDropzone.on("success", function (file, responseData) {
    var returnFiles = responseData.files;

    // Success is called for every file so might as well double check the
    // filename was returned before adding element to DOM.
    for (var i = 0; i < returnFiles.length; i++) {
      var returnFile = returnFiles[i];
      if (returnFile.original_filename !== file.name) continue;

      $("#rfi-attachments").append([
        '<tr class="file-preview" data-upload-id="' + returnFile.id + '">',
          '<td>',
            returnFile.original_filename,
          '</td>',
          '<td>',
            '<span class="pull-right">',
              '<a class="remove">Remove</a>',
            '</span>',
          '</td>',
        '</tr>',
      ].join(""));
    }
  });
</script>
