<div class="modal-wrapper">
	<div class="overlay"></div>

  {{#if getASI}}
    <div class="modal-container">
      <div class="split">
        {{partial "modals/rfi_partial"}}
      </div>

      <div class="split">
        {{partial "modals/asi_partial"}}
      </div>
    </div>
  {{else}}
    {{partial "modals/rfi_partial"}}
  {{/if}}
</div>
