<% content_for :title, "FAQ" %>
<div class="section">
  <div class="container">
    <h1>Frequently Asked Questions</h1>
    <hr>
  </div>
</div>
<div class="container">
  <p class="lead">What is PlanSource?</p>
  <p>PlanSource is a web and mobile application that allows users to upload plans that can later be viewed.</p>
  <hr>
  <p class="lead">Who should use PlanSource?</p>
  <p>PlanSource is primarily people in the construction industry such as engineers, architects, contractors, etc, but can be used by anyone.</p>
  <hr>
  <p class="lead">What is a Viewer account?</p>
  <p>A Viewer account lets you view jobs and plans that have been shared with you.  Viewers also have the ability to print and reshare if the owner of the job allows it.<p>
  <hr>
  <p class="lead">Who should use a Viewer account?</p>
  <p>A Viewer account should be used by someone that doesn't need to upload or create jobs.  Managers share their jobs with Viewers. Generally Viewers are contractors, or people that are not project managers.</p>
  <hr>
  <p class="lead">What is a Manager account?</p>
  <p>A Manager account has all of the abilities of a Viewer, plus they can create, edit, destroy, and share jobs and plans.  A Manager also has the ability to determine which plans can be printed.</p>
  <hr>
  <p class="lead">Who should use a Manager account?</p>
  <p>A Manager should be used by someone that needs to create jobs or upload plans.  Managers usually have many Viewers they share jobs with.  Generally these are project managers or architects.</p>
  <hr>
  <p class="lead">Does it cost to create an account?</p>
  <p>Right now, all accounts are free, but in the future, Manager accounts will have a subscription required.<p>
  <hr>
  <p class="lead">How many jobs can I create?</p>
  <p>The free trial for the Manager account lets you create two jobs without a subscription.  Once you have a subscription, there isn't a limit to how many jobs you can create.</p>
  <hr>
  <p class="lead">How many plans can I upload?</p>
  <p>Up to 100GB!<p>
  <hr>
  <p class="lead">Can I share my jobs?</p>
  <p>Yes, you just need the user's email you wish to share with.  If the user doesn't have an account, one will be created for them, and they will receive an email notifying them of the share.</p>
  <hr>
  <p class="lead">Can anyone reshare jobs I've shared with them?</p>
  <p>No, only users you allow can reshare your jobs.<p>
  <hr>
  <p class="lead">How do I view my plans?</p>
  <p>You can download the plans in the browser, or install one of the mobile applications on your device.<p>
  <hr>
  <p class="lead">Which mobile platforms are supported?</p>
  <p>Android and iPhone.</p>
  <hr>
  <p class="lead">Is the app free?</p>
  <p>The app is completely free.</p>
  <hr>
  <p class="lead">Can I print my plans?</p>
  <p>There are plans to implement printing, but as of right now printing is not available.</p>
  <hr>
</div>
