<% content_for :title, "About Us" %>
<div class="section">
  <div class="container">
    <h1>About Us</h1>
    <hr>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="span12">
      <p>PlanSource was created to provide customers an efficient way to keep plans up to date.</p>

      <p>We understand plans can change daily.  Architects and engineers are continuously adding to and revising the drawings.  Reprinting every revision isn't cost effective, and can result in far too many sets of incorrect plans.  So the question is how can we reduce printing cost while while keeping the contractors up to date? The answer is mobile.</p>

      <p>The world is continuously moving towards the use of mobile devices, and storing data in the "cloud".  Having said that, mobile devices have yet to be used to store, and view sets of plans.  Yes, there are existing file sharing solutions, but none of them are tailored to the construction industry.  For instance, current solutions require you to have an internet connection to view their files.  However, this creates a problem when it comes to jobsites.  Most jobsites do not have wifi, so these solutions are useless.  PlanSource is different in that you only need internet to download the plans, but once they are downloaded you no longer need internet to view them.  This creates an ideal solution for jobsites that don't have wifi or internet.</p>

      <p>By utilizing mobile applications, and the cloud, PlanSource source aims to alleviate cost, and efficiently deliver plans to a jobsite.  We believe our construction tailored solution can help architects, engineers and contractors communicate more effectively.</p>
    </div>
  </div>
  <hr>
</div>
<div class="section">
  <div class="container">
    <h2>The Team</h2>
    <hr>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="span3">
      <%= image_tag @shane_url, class: "gravatar" %>
    </div>
    <div class="span9">
      <h3>Shane Burkhart</h3>
      <p class="lead muted">Co-Founder</p>
      <p>Hi, my name is Shane Burkhart and I am a computer engineering/computer science double major at the Missouri University of Science and Technology.  Most of my time is spent coding, working on computers, or looking for my next startup idea.  My goal is to use software and computers to solve as many real world problems as I can.</p>
    </div>
  </div>
  <hr>
</div>
<div class="container">
  <div class="row">
    <div class="span9">
      <h3>Ryan Endacott</h3>
      <p class="lead muted">Co-Founder</p>
      <p></p>
    </div>
    <div class="span3">
      <%= image_tag @ryan_url, class: "gravatar" %>
    </div>
  </div>
  <hr>
</div>
