body{
	font-family: 'Roboto', sans-serif;
}


.modal-section{
	margin-top: 30px;
}

.error{
	color:#a94442;
}

.margin-top-20{
	margin-top:20px;
}

.standard-search-bar{
	width: 250px;
}

.alert-error{
	color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.controls li{
	display:inline;
	margin-left: 15px;
}

input[type="checkbox"] {
  margin-bottom: 6px;
}

.word-wrap{
	word-wrap: normal;
}

.div-padding{
	margin-bottom: 20px;
}

.form-control-padding{
	margin: 2px 2px;
}

.form-control-buffer{
	padding: 5px 5px;
}

.form-smaller{
	height: 1.6em;
	font-size: 1.2em;
	line-height: 1em;
}
