body{
	font-family: 'Roboto', sans-serif;
}

.controls li{
	display:inline;
	margin-left: 15px;
}

input[type="checkbox"] {
  margin-bottom: 6px;
}

.word-wrap{
	word-wrap: normal;
}

.div-padding{
	margin-bottom: 20px;
}

.form-control-padding{
	margin: 2px 2px;
}

.form-control-buffer{
	padding: 5px 5px;
}

.form-smaller{
	height: 1.6em;
	font-size: 1.2em;
	line-height: 1em;
}
