.modal-wrapper
  .overlay

  .dialog.box.box-border
    .header
      %p.title Are you sure?

    .body
      %p Are you sure you want to delete #{@plan.name}?

    .footer
      .buttons
        = link_to "Delete", plan_path(@plan), method: :delete, class: "button button-red"
        - if request.format == 'modal'
          %a.button.close-modal Cancel
        - else
          %a.button{ href: job_tab_path(@plan.job_id, @plan.tab) } Cancel

